.lightbox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
}
.lightbox .close {
  color: #fff;
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 24px;
  z-index: 999;
  opacity: 0.6;
}
.lightbox .inner {
  margin: 0 auto;
}
.lightbox .inner .carousel-control {
  top: 15%;
  bottom: 15%;
  background: none;
}
.lightbox .inner .item {
  height: 100%;
}
.lightbox .inner .item > img {
  max-height: 80%;
  margin: 5% auto;
  max-width: 80%;
  box-shadow: 0 0 10px #000;
}
